.deal-scroll{
    height: calc(100vh - 165px);
    min-height: 500px;
    width: 100%;
    overflow-y: auto;
    background-color: white;
}

.scroll-head{
    background-color: black;
    height: 45px;
    position: fixed;
    width: inherit;
    color: white;
    text-align: center;
    padding-top: 30px;
}

.scroll-head-space{
    width:100%;
    height: 75px;
}

.scroll-container{
    width: 450px;
    display: inline-block;
}

.deal-item{
    width: 100%;
    height: 100px;
    padding: 5px;
    display: flex;
    border-bottom: 1px solid rgba(128, 128, 128, 0.151);
}

.deal-item img{
    width: 35%;
    height: 100%;
    border-radius: 10px;
}

.deal-item h2{
    display: inline-block;
    height: 100%;
    margin-top: 20px;
    margin-left: 10px;
}

.deal-link{
    text-decoration: none;
    color: black;
}

.deal-item:hover{
    background-color: rgba(95, 158, 160, 0.445);
}

.deal-details{
    width: calc(100% - 450px);
    height: calc(100vh - 90px);
    min-height: 575px;
    background-color: white;
    display: inline-block;
    position:absolute;
    text-align: center;
    font-size: x-large;
    text-transform: capitalize;
}

.deal-details img{
    width: 100%;
    height: 70%;
}