.homepage{
    width: 100vw;
    height: 100vh;
}

.container{
    width: 70%;
    max-width: 1200px;
    margin: auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}


.deals-h1{
    text-align: center;
    margin-top: 100px;
}

.container-sm{
    width: 80%;
    max-width: 1000px;
    margin: auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.navbar-space{
    width:100%;
    height: 90px;
}