.restaurant{
    background-color: white;
    width: 100%;
    border-radius: 10px;
    margin-top: 25px;
    padding: 50px;
}

.restaurant h2{
    display: inline-block;
    margin: 0;
}

.restaurant .nrm-btn{
    float: right;
}