.appboard{
    width: 100%;
    height: 350px;
    background-color:#9dd3d5;
    margin-top: 100px;
    display: inline-block;
}

.mobile-app-img{
    margin-top: 50px;
    width: 50%;
    max-width: 400px;
    height: 250px;
    background-image: url('https://www.xcentricservices.com/wp-content/uploads/2020/06/Mobile-Application.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.appboard h1{
    text-transform: uppercase;
}

.appboard .container{
    justify-content:space-between;
 }

.appboard-textarea{
    width: 50%;
    max-width: 600px;
}

.appboard-textarea a img{
    width: 40%;
    max-width: 150px;
    min-width: 110px;
}
.appboard-textarea a{
    width: 50%;
}

.google-apple-icon{
    text-align: center;
}
.google-apple-icon p{
    font-family: sans-serif;
    font-size:x-small;
}