.deal-card{
    width: 300px;
    height: 350px;
    background-color: rgb(223, 37, 213);
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgb(202, 202, 202);
    margin: 15px 10px 0px 0px;
    background-color: white;
    transition: 0.2s ease-in-out;
}

.deal-card-img{
    width: 100%;
    height: 175px;
    border-radius: 10px 10px 0px 0px;
    border: none;
    background-size: 70% 125px;
    background-repeat: no-repeat;
    background-position: center;
}

.deal-card-title{
    text-transform: uppercase;
    margin: 0;
    padding: 0px 40px;
}

.deal-card-desc{
    font-family: sans-serif;
    font-size: small;
    text-transform: capitalize;
    padding: 0px 40px;
}

.deal-card:hover{
    box-shadow: 0px 0px 0px 3px rgb(206, 206, 206);
}