.hero{
    width: 100%;
    height: 450px;
    background-image: url('https://res.cloudinary.com/dshitqpca/image/upload/v1608550271/banners/food_pejp6a.png');
    background-size: cover;
}

.hero-h1{
    margin-top: 0;
    padding-left: 50px;
    padding-top: 150px;
    text-transform: uppercase;
    color: white;
    font-size: 4em;
    margin-bottom: 10px;
}

.hero-btn{
    margin-left: 15px;
    font-size: 1em;
    padding: 8px 40px;
    border-radius: 40px;
    background-color: white;
    color: black;
}

.hero-btn:first-of-type{
    margin-left:50px;
}