.menu-card{
    width: 31%;
    height: 275px;
    background-color: rgb(223, 37, 213);
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgb(202, 202, 202);
    margin: 25px 1.15% 0px 1.15%;
    background-color: white;
    transition: 0.2s ease-in-out;
    display: inline-block;
}

.menu-card-img{
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
}

.menu-card-title{
    text-transform: uppercase;
    margin: 0;
    padding: 0px 40px;
}

.menu-card:hover{
    box-shadow: 0px 0px 0px 3px rgb(206, 206, 206);
}