/* Add a black background color to the top navigation */
.navbar{
  position: fixed;
  z-index: 1;
}

.topnav {
    overflow: hidden;
    width: 100vw;
    height : 60px;
    border-bottom: #bbb6b68c solid 2px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 50px;
    background-color: white;
  }
  
  /* Style the links inside the navigation bar */
  .topnav .nav-btn {
    float: left;
    color: #000000;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
  }
  
  /* Change the color of links on hover */
  .topnav .nav-btn:hover {
    color: rgb(4, 199, 150);
  }

  .topnav .logo{
    float: left;
    text-align: center;
    padding-right: 20px;
  }

  .topnav .logo img{
    width: 70px;
    height: 60px;
  }

  .nrm-btn{
    background-color: black;
    color: whitesmoke;
    padding: 0px 20px;
    height: 30px;
    text-align: center;
    border-radius: 15px;
    display: inline-block;
    text-decoration: none;
    line-height: 30px;
    font-size: 0.7em;
    text-transform: uppercase;
  }

  .nrm-btn:hover{
    background-color: rgb(4, 199, 150);
  }

  .topnav .nrm-btn{
    margin: 15px 20px 0px 0px;
    float: right;
  }

  .nav-cart{
    float: right;
    color: #000000;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 1.3em;
    text-transform: uppercase;
    margin-right: 20px;
  }

  .nav-cart:hover{
    color: rgb(4, 199, 150);
    font-size: 1.5em;
    padding: 12px 16px;
  }
  .dn-space{
    margin-left: 1em;
  }



   /* Dropdown Button */
.drop-btn {
  color: black;
  font-size: 1em;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.menu-btn {
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  position: absolute;
  background-color: #ffffff;
  width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
  text-align: left;
  padding: 30px 10px;
  font-family: sans-serif;
  text-transform: capitalize;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(88, 88, 88);
  padding: 5px 16px;
  text-decoration: none;
  display: block;
}

.solid-hr{
  color: #bbb6b646;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {text-decoration: underline;}

/* Show the dropdown menu on hover */
.menu-btn:hover .dropdown-content {
  visibility: visible; 
  opacity: 1;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.menu-btn:hover .drop-btn {color: rgb(4, 199, 150);} 


.nav-msg{
  height: 30px;
  padding-left: 50px;
  background-color: white;
}